.btn-login {
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 40px;
    /* gap: 10px; */

    width: auto;
    height: auto;

    /* background: #A137DF; */
    background-image: linear-gradient(to right, #A137DF 0%, #FA14FF 100%);
    border-radius: 20px;
    /* margin-left: 119px; */
    color: white;
    border: none;
    font-weight: bold;
}

/* .row{
    text-align: center;
} */

#logo_nav{
    justify-content: center;
    text-align: center;
    height: 80px;
    display: block;
    margin-left: 20px;
    margin-right: auto;
}

#icon_profil{
    height: 40px;
    width: 40px;
    margin-right: 8px;
}
#theme_toggle{
    justify-content: center;
    text-align: center;
    /* height: 80px; */
    /* display: block; */
    /* margin-left: 20px; */
    margin-right: auto;
}

/* .footer {
   position: fixed;
   left: 25%;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
} */